/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Styling starts from here */
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-color: hsl(355, 78%, 56%);
    --primary-darker: hsl(355, 78%, 46%);
    --secondary-color: hsl(33, 100%, 98%);
    --dark-text: hsl(215, 50%, 23%);
    --accent-color: hsl(182, 43%, 76%);
    --img-border-radius: 14px;
    --btn-border-radius : 10px;
    font-size: 16px;
}

body {
    min-height: 100vh;
    padding: 0 15vw;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color:var(--dark-text)
}

img {
  border-radius: var(--img-border-radius);
}

button {
  color: var(--dark-text);
  border: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2em;

  padding-top: 2em;
  margin-bottom: 5em;
}

nav button {
    border: transparent;
    background-color: transparent;
    margin-left: 1.5em;
    font-size: 1.3em;
}

nav button:hover {
    cursor: pointer;
}

div#content {
  display: flex;
  flex-direction: column;
  gap: 5vh
}

#content #hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1 2 0;
  gap: 2.2em
}

.headline {
  flex: 1;
  min-width: 250px;
}

.headline > * {
  margin-bottom: 1.5rem;
}

.headline h1 {
  font-size: 2.4em
}

.headline > div button {
  font-size: 1.3em;
  padding: 10px 20px;
  border-radius: var(--btn-border-radius)
}

.headline > div button:hover {
  cursor: pointer;
}

.headline > div button:first-child {
  background-color: var(--primary-color);
  color: hsl(0 0 100%);
  margin-right: 0.6em;
  font-weight: 450;
  
}

.headline > div button:first-child:hover {
  background-color: var(--primary-darker);
}

.headline > div button:last-child {
  background-color: hsl(0 0 100%);
  border: 1px solid rgb(211, 211, 211);
  font-weight: 300;
}

.headline > div button:last-child:hover {
  background-color: hsl(0 0 95%);
}

#hero-img {
  flex:1 1 0 ;
  min-width: 250px;
}

#hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

